header {
    display:flex;
    justify-content: space-between;
    background-color: #eeaa55;
    border-bottom: 10px solid #113d9e;
    padding:10px 20px;
  }
  nav {
    text-align: right;
  }

a{  display: inline-flex;
    align-items:center;
    color: #ac90ca;
    font-family: "Fira Code",sans-serif; 
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
}

a:before {
  content:'' ;
  background-color:#acfeac;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

a:hover:before {
  display: inline;
  background-color:#ac90ca;
  cursor:default;
}
a:hover{
color: black;
}
